html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


#logo-bar{
	position: relative;
	width: 100%;
	padding: 10px 10px;
	background-color: white;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#logo{
	width: 120px;
	height: 50px;
	background-color: lightgrey;
	align-self: center;
}

#lang-dropdown{
	padding-right: 10px;
	position: absolute;
	right: 0;
}

#lang-dropdown ul{
	margin-right: 10px;
	min-width: 0;
}

#user-bar{
	background: #dadada;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}